{% extends "layout.html" %}

{% block title %}
    Finance: Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <h1>История обращений</h1>
        <thead>
            <tr>
                <th cass="text-center">Данные пользователя</th>
                <th class="text-center" colspan="4">Обращение</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td class="text-center">{{ row[5] }} {{ row[4] }} {{ row[6] }}</td>
                    <td class="text-center">{{ row[2] }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ row[7] }}</td>
                    <td class="text-center" colspan="4">{{ row[1] }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}